* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
  font-family: 'Inter UI';
  /* background: black; */
}
h2 {
  font-size: 48px;
  font-weight: 700;
	line-height: 1.2em;
}
p {
  font-size: 16px;
  line-height: 1.6em;
	max-width: 300px;
	font-size: 13px;
	margin-bottom: 24px;
}
p.desc {
  color: #666;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.strikethrough {
  text-decoration: line-through;
}
#root {
	height: 100%;
}

.Wimble {
	mix-blend-mode: difference;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 40px;
}
path {
	fill: white;
}
.application {
	max-width: 380px;
	padding-top: 24px;
	/* margin-left: 104px */
}
.subheading {
	color: #888;
	font-size: 18px;
	margin-bottom: 24px;
	line-height: 1.6em;
}

.App {
	/* height: 100%; */
	background: white;
}
.App_content {
	flex-wrap: wrap;
}
.App_text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	/* margin-top: 96px; */
	width: 400px;
}
.App_section-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 100%;
}
.App_section-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #101010;
	height: 100%;
	color: white;
}
.App_section-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	height: 100%;
}

@media (max-width: 960px) {

}

@media (max-width: 648px) {
	.App_text {
		justify-content: center;
		align-items: center;
		text-align: center;
		width: auto;
		margin-top: 0px;
		margin-bottom: 32px;
	}
	.App_section-1 {
		flex-direction: column;
	}
	.App_section-2 {
		flex-direction: column;
	}
	.App_section-3 {
		flex-direction: column;
	}
}
